<h2>Unser erstes Formular</h2>

<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <div class="group">
    <label for="usernameInput">Username</label>
    <input type="text" id="usernameInput" formControlName="username">
    <div class="feedback-error" *ngIf="isInvalid('username')">Der Username ist ungültig.</div>
    <div class="feedback-error" *ngIf="hasError('username', 'minlength')">Der Username ist zu kurz.</div>
    <div class="feedback-error" *ngIf="hasError('username', 'maxlength')">Der Username ist zu lang.</div>
    <div class="feedback-error" *ngIf="hasError('username', 'required')">Der Username muss angegeben werden.</div>
    <div class="feedback-error" *ngIf="hasError('username', 'usernameavailable')">Der Username ist bereits vergeben!</div>

    <!--<app-form-errors controlName="username" [messages]="{ minlength: 'ZU KURZ' }"></app-form-errors>-->

    <pre>{{ userForm.get('username')?.errors | json }}</pre>
  </div>

  <div class="group">
    <label>Name</label>
    <input type="text" formControlName="name">
  </div>

  <div class="group" formGroupName="password">
    <label>Password</label>
    <input type="password" formControlName="pw1">
    <div class="feedback-error" *ngIf="hasError('password.pw1', 'minlength')">Passwort zu kurz (3 Zeichen)</div>
    <input type="password" formControlName="pw2">

    <div class="feedback-error" *ngIf="hasError('password', 'passwordsmatch')">Passwörter sind nicht gleich!!</div>
    <pre>{{ userForm.get('password')?.errors | json }}</pre>
  </div>

  <div class="group" formArrayName="tags">
    <label>Tags</label>
    <button type="button" class="btn btn-secondary" (click)="addTagControl()">+</button>

    <input *ngFor="let c of userForm.controls.tags.controls; index as i"
      type="text" [formControlName]="i">
  </div>


  <div class="group">
    <label>Confirmation</label><br>
    Bitte den Text "{{ challengeString }}" eingeben:<br>
    <input type="text" formControlName="confirm" [placeholder]="challengeString">
    <div class="feedback-error" *ngIf="hasError('confirm', 'exactvalue')">
      Es muss exakt "{{ challengeString }}" angegeben werden.
    </div>
  </div>

  <div class="group" formArrayName="addresses">
    <label>Adressen</label>

    <app-address-form *ngFor="let group of userForm.controls.addresses.controls" [group]="group"></app-address-form>
  </div>

  <!-- Button deaktivieren: [disabled]="userForm.invalid" -->
  <button class="btn btn-success" type="submit">Abschicken</button>

</form>

<pre>{{ userForm.value | json }}</pre>
