<h2>Unser erstes Formular</h2>

<form [formGroup]="userForm">
  <div class="group">
    <label for="usernameInput">Username</label>
    <input type="text" id="usernameInput" formControlName="username">
    <div class="feedback-error">Der Username ist ungültig.</div>
    <div class="feedback-error">Der Username ist zu kurz.</div>
  </div>

  <div class="group">
    <label>Name</label>
    <input type="text" formControlName="name">
  </div>

  <div class="group" formGroupName="password">
    <label>Password</label>
    <input type="password" formControlName="pw1">
    <input type="password" formControlName="pw2">
  </div>

  <div class="group">
    <label>Confirmation</label>
    <input type="text" formControlName="confirm">
  </div>
</form>

<pre>{{ userForm.value | json }}</pre>
